body{
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    padding: 0; margin: 0;
    background-attachment: fixed;
}
/*Nous allons inserer un media query pour que notre page s'adapte en fonction des écrans*/
@media all and (max-width:640px){
    body{
        width: 640px;
    }
}

/*Pour que les polices concernées soient prises en charge*/
@font-face{
        font-family:'Hollywood Hills';
        src:url(../fonts/hollh___.ttf) format('truetype');
}
@font-face{
    font-family:'penultimate';
    src:url(../fonts/PENUL___.TTF) format('truetype');
}
@font-face{
    font-family:'SF Movie Poster';
    src:url("../fonts/sf movie poster2.ttf") format('truetype');
}
@font-face{
        font-family:'RowdyHeavy';
        src:url(../fonts/Rowdyhe_.ttf) format('truetype');
}
@font-face{
        font-family:'Valken';
        src:url(../fonts/VALKEN__TTF) format('truetype');
}

/*Debut entete*/
header{
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0;margin: 0;
}
header ul{
    display: inline-block;
    padding: 0;
    margin: 0;
}
header li{
    display: inline-block;
    margin: 0;
    padding: 0;
   
}
header img{
    height: 100px;
}
#letsvisit{
    font-family:Hollywood Hills,fantasy;
    color: #131b49;
    font-size: 60px;
    vertical-align: top;
    margin: 0;padding:20px 0;
}
/*Fin entete*/

/*Menu*/
nav{
    margin: 0;padding: 0;
    width: 100%;
    height: 60px;
    background: black;
    color: white;
    border-radius:15px 15px 0px 0px;
}

#accueil{
    margin:0;padding: 12px;
    font-family:penultimate,monospace;
    font-size: 200%;
    display: inline-block
}
.lien1:valid, .lien1:link, .lien1:visited{
    text-decoration: none;
    color: white
}
nav ul{
    font-size: 125%;
    font-family:SF Movie Poster, monospace;
    float: right;
    margin: 0;
    padding: 0;
}
nav li{
    padding: 20px 30px;
    display: inline-block;
    margin: 0 5px 0 0;
}
nav li:hover{
    border-left: 1px groove white;
    border-right: 1px solid white;
    border-radius: 50px;
}
/*Fin menu*/


/*Contenu pages*/
#present{
    background: url(../img/widgets/present.png);
    border: solid black 10px;
    border-radius: 25px;
    width: 95%;
    margin: 30px auto;
    padding: 15px;
}
h1{
    margin: 0; padding: 0;
    font-family: Valken;
    font-size: 30pt;
    text-align: center;
}
#images{
    text-align: center;
}
#images img{
    width: 18%;
    margin: 0;
}
#images img:hover{
    width: 25%
}
#text{
    font-size: 14pt
}
#vid{
    text-align: center;
    display: inline-block;
}
video{
    width: 75%;
    border: solid 5px black;
    border-radius: 30px 30px 0 0;
    }
